.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    >form{
        >input{
            height: 30px;
            width: 200px;
            border-radius: 3px 0px 0px 3px;
            border: 2px solid var(--blue);
            border-right: 0px;
            outline: none;
           padding-left: 10px;
        }
        >button{
            border-radius: 0px 3px 3px 0px;
            height: 30px;
            width: 80px;
            background: transparent;
            cursor: pointer;
        }
    }
}